
/*********** modal max size ***********/
.modal {
    height: 625px;
    width: 1200px;
    display: none;
}

/*********** modal image ***********/

.overlay {
    grid-column:  1 / span 1;
    width: 900px; 
    height: 625px; 
}

.overlay:hover {
    cursor: pointer 
}

.image {
    position: relative;
    top: -40px; 
    width: 900px;
    height: 650px;
    object-fit: contain; 
    vertical-align: middle; 
}

/*********** user info ***********/

.user { 
    padding: 12px 12px 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.28571em;
    color: #0073bb;
    text-decoration: none;
    font-family: 'Helvetica Neue'; 
}

.userImage {
    margin: 12px; 
    height: 30px; 
    width: 30px; 
    float: left; 
    border-radius: 4px; 
}

.friend {
    font-size: 12px;
    color: #f15c00;
    fill: #f15c00;
}

.star {
    padding-left: 6px;
    fill: #f15c00;
    color: #f15c00;
}

.num {
    font-size: 12px;
    color: #666666; 
    font-weight: bold;
    margin: 4px;
}

.comment {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    margin-top: 10px; 
}

.date {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    padding-top: 6px;
}

/********** helpful query ***********/

.query {
    color: #666666; 
    font-size: 12px;
    padding-top: 13px;
}

.btn {
    color: #666;
    background: #fff;
    border: 1px solid #ccc;
    background-position: 50% 50%;
    background-size: 15000px 15000px;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5em;
    border-radius: 4px; 
    margin-top: 8px;
    margin-right: 3px;
}

.btn:hover {
    cursor: pointer;
    background: rgb(245, 245, 245)
}

/*********** reservations ***********/

.reservations {
    color:  #0073bb;
    font-size: 14px;
    margin-top: 8px;
    font-weight: normal;
}

.resText {
    padding-left: 10px;
}

.resText:hover {
    text-decoration: underline;
    cursor: pointer;
}

.elite {
    color: #f15c00;
    font-size: 12px;
    margin-left: 6px;
}

/*********** modal arrows ***********/

.arrow {
    z-index: 1; 
    position: relative;
    top: 290px;
    float: right;
    font-size: 48px; 
    color: rgba(245, 245, 245, .8);
}

.left{
    float: left; 
    left: 10px; 
}

.right {
    float: right; 
    right: 10px;
}

.left:hover{
    color: rgba(245, 245, 245, 1);
}

.right:hover{
    color: rgba(245, 245, 245, 1)
}

/*********** close btn ***********/


.close {
    position: relative;
    z-index: 4; 
    float: right; 
    margin-right: 150px; 
    margin-top: -350px; 
    font-size: 14px;
    line-height: 1.28571em;
    color: #999;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8); 
    text-decoration: none;
    text-align: right;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    
}

.iconX {
    fill: #999; 
    vertical-align: middle;
    z-index: 4; 
}

.close:hover {
    color: whitesmoke; 
    cursor: pointer; 
    fill: whitesmoke; 
    z-index: 4; 
}

.close:hover .iconX {
    fill: whitesmoke; 
    z-index: 4; 
}

/*********** modal caption bar ***********/

.caption {
    font-family: 'Helvetica Neue';
    font-weight: bold;
    color: #999;
    position: absolute;
    z-index: 1; 
    width: 75%;
    background: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    bottom: -10px; 
    padding-bottom:3px;
    vertical-align: middle;
    display: inline-block;
}

.captionInfo {
    margin-left: 8px; 
    margin-top: 7px;
}

.number {
    margin-left: 24em;
    font-weight: normal;
    color: #999; 
}

.endCap {
    font-family: 'Helvetica Neue';
    font-weight: bold;
    color: #999;
    margin-left: 23em;
}

.capWords {
    font-family: 'Helvetica Neue';
    font-weight: bold;
    color: #999; 
    margin-right: 15px;
    vertical-align: middle;
    display: inline-block;
}

.icon {
    fill: #999; 
    vertical-align: middle;
    display: inline-block;
}

.capWords:hover,
.icon:hover {
    color: whitesmoke;
    fill: whitesmoke;
}

.capHover:hover .icon {
    fill: whitesmoke; 
}
 
.capHover:hover .capWords {
    color: whitesmoke;
} 

.see {
    position: relative;
    margin-left: 670px;
    color:  #0073bb;
    font-size: 14px;
    font-family: 'Helvetica Neue';
}

.see:hover {
    text-decoration: underline;
    cursor: pointer; 
}
