
/*********** modal max size ***********/
.modal {
    height: 620px;
    width: 1200px;
}

/*********** modal image ***********/

.overlay {
    grid-column:  1 / span 1;
    max-width: 900px; 
    height: auto; 
}

.overlay:hover {
    cursor: pointer 
}

/* .image {
    position: relative;
    top: 55px; 
    width: 900px;
    height: 625px;
    object-fit: contain; 
} */

/*********** user info ***********/

.user { 
    padding: 12px 12px 0;
    font-size: 14px;
    line-height: 1.28571em;
    font-weight: bold;
    color: #0073bb;
    text-decoration: none;
    font-family: 'Helvetica Neue'; 
}

.userImage {
    margin: 12px; 
    height: 30px; 
    width: 30px; 
    float: left; 
    border-radius: 4px; 
}

.friend {
    font-size: 12px;
    color: #f15c00;
    fill: #f15c00;
}

.star {
    fill: #f15c00;
    color: #f15c00;
    padding-left: 6px;
}

.num {
    font-size: 12px;
    color: #666666; 
    font-weight: bold;
    margin: 4px;
}

.comment {
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    margin-top: 10px; 
}

.date {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    padding-top: 6px;
}

/********** helpful query ***********/

.query {
    color: #666666; 
    font-size: 12px;
    padding-top: 13px;
}

.btn {
    color: #666;
    background: #fff;
    border: 1px solid #ccc;
    background-position: 50% 50%;
    background-size: 15000px 15000px;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5em;
    border-radius: 4px; 
    margin-top: 8px;
    margin-right: 3px;
}

.btn:hover {
    cursor: pointer;
    background: rgb(245, 245, 245)
}

/*********** reservations ***********/

.reservations {
    color:  #0073bb;
    font-size: 14px;
    margin-top: 8px;
    font-weight: normal;
}

.resText {
    padding-left: 10px;
}

.resText:hover {
    text-decoration: underline;
    cursor: pointer;
}

.elite {
    color: #f15c00;
    font-size: 12px;
    margin-left: 6px;
}

/*********** modal arrows ***********/

.arrow {
    z-index: 1; 
    position: relative;
    top: 290px;
    float: right;
    font-size: 48px; 
    color: rgba(245, 245, 245, .8);
}

.left{
    float: left; 
    left: 10px; 
}

.right {
    float: right; 
    right: 10px;
}

.left:hover{
    color: rgba(245, 245, 245, 1);
}

.right:hover{
    color: rgba(245, 245, 245, 1)
}

/*********** close btn ***********/

.close {
    position: relative;
    z-index: 1; 
    float: right; 
    margin-right: 40px; 
    margin-top: 0px; 
    font-size: 14px;
    line-height: 1.28571em;
    color: #999;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8); 
    text-decoration: none;
    text-align: right;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    
}

.close:hover {
    color: whitesmoke; 
    cursor: pointer; 
}


/* .caption {
    color: white;
    position: relative;
    background-color: red;
    z-index: 1; 
} */
