
.centerFoodImg {
    width: 250px;
    height: 250px;
    vertical-align: middle; 
}

.centerFoodImgSmall {
    width: 220px;
    height: 220px;
    vertical-align: middle; 
}

.overlay {
    position: relative;
    vertical-align: bottom; 
    width: 300px;
}

.caption {
    display: block;
    position: absolute;
    top: -24px;
    padding-bottom: 24px;
    left: 0; 
    width: 100%;
    height: 100%;
    color: #FFF;
    font-size: 12px; 
    font-family: 'Helvetica Neue';
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background: rgba(0, 0, 0, .5);
}

.none {
    display: none;
}

.userImage {
    margin: 4px; 
    height: 30px; 
    width: 30px; 
    float: left; 
    border-radius: 4px; 
}

.description {
    font-weight: bold;
}